.contenedor-estudios {
  position: relative;
  background-image: url(../img/fondo-estudios.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .estudios {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 8px 8px 15px #000;
    width: 80%;
    height: 95%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    padding: 0.8rem;
    text-align: center;

    @media(min-width:768px){
      height: 85%;
      padding: 1rem;
    }
    .separacion {
      display: flex;
      justify-content: space-between;
      margin-left: 2rem;
      @media(min-width: 768px){
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
      }
    }
  }

 
  img{
    display: none;
    @media(min-width: 768px){
      display: block;
    }
  }
  .img-1,.img-3{
    margin: 0 0 1rem 2rem;
  }

  .estudio-card {
    padding: 1rem;
    border-bottom: solid 3px #f6ea00;
    width: 80%;
    @media(min-width:768px){
      display: grid;
      grid-template-columns: .5fr 2fr;
      .img-1,.img-3{
        width: 4rem;
        height: 4rem;
        margin-top: 2rem;
      }
      p{
        font-size: .6rem;
      }
      .img-2{
        width: 7rem;
        height: 3rem;
        margin-top: 2rem;
      }
    }
    p {
      margin-bottom: 13px;
      font-size: .8rem;
      font-weight: 600;
      color: #f3f3f3;
      padding-left: .7rem;
    }
    h3 {
      color: #f3f3f3;
      font-size: 1.1rem;
      margin: 10px 0;
    }
  }
  .certificado{
    margin-left: .6rem;
    filter: invert(100%) sepia(1%) saturate(4514%) hue-rotate(124deg) brightness(116%) contrast(90%);
    font-size: 2rem;
  }
}
@media(min-width:768px){
  .texto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    p{
      margin-top: 1rem;
    }
  }
}

